asgiref==3.3.1
boto3==1.16.52
botocore==1.19.52
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
coverage==5.4
cryptography==3.3.1
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.1.5
django-allauth==0.43.0
django-crispy-forms==1.10.0
django-libs==2.0.3
django-localflavor==3.0.1
django-phone-field==1.8.1
django-storages==1.11.1
django-summernote==0.8.11.6
factory-boy==3.2.0
Faker==6.3.0
fedex==2.4.1
gunicorn==20.0.4
idna==3.3
jmespath==0.10.0
oauthlib==3.1.0
Pillow==8.1.0
psycopg2-binary==2.8.6
pycparser==2.21
PyJWT==2.0.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-stdnum==1.14
python3-openid==3.2.0
pytz==2020.5
requests==2.26.0
requests-oauthlib==1.3.0
s3transfer==0.3.4
six==1.16.0
sqlparse==0.4.1
stripe==2.55.1
suds-jurko==0.6
text-unidecode==1.3
urllib3==1.26.7
