<script type="text/javascript">

// Material Select Initialization
$(document).ready(function() {
    $('.mdb-select').materialSelect();

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue1 = parseInt($(`#id_qty_${itemId}`).val());
        var currentValue2 = parseInt($(`#id_qty2_${itemId}`).val());
        var minusDisabled1 = currentValue1 < 2;
        var minusDisabled2 = currentValue2 < 2;
        var plusDisabled1 = currentValue1 > 98;
        var plusDisabled2 = currentValue2 > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled1);
            $(`#decrement-qty2_${itemId}`).prop('disabled', minusDisabled2);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled1);
        $(`#increment-qty2_${itemId}`).prop('disabled', plusDisabled2);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
    var itemId = $(allQtyInputs[i]).data('item_id');
    handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
    var itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
    });
});

//Assign selected product id to hidden input value
$('#prod-detail-select').change( function() {
    var optionId = $('option:selected, this').attr('data-id');
    $('#selected-product-id').val(optionId);
    $('#redirect-url').val(`/products/${optionId}/`)
    const optionIdInt = parseInt(optionId)
    const csrfToken = "{{ csrf_token }}";
    const url = `/products/${optionIdInt}/`;
    const data = {"csrfmiddlewaretoken": csrfToken};

    $.post(url, data)
    .done( function() {
        location.assign(url);
    });
})


</script>