{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
  <div class="row mt-5 mb-5">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 

{% block content %}
    <div class="container-fluid" id="success-top">
        <div class="row">
            <div class="d-none d-lg-block col-lg-4 col-xl-3 pt-5 bg-blush side-menu-col">
                {% include 'includes/side-menu.html' %}
            </div>
            <div class="col-12 col-lg-8 col-xl-9 text-center mt-4 head-row pt-5 mb-5">
                <div class="fixed-action-btn smooth-scroll" style="bottom: 45px; right: 24px;">
                    <a href="#success-top" class="btn-floating btn-large btn-mdblue">
                        <i class="fas fa-arrow-up"></i>
                    </a>
                </div> 
                <div class="row">
                    <div class="col-10 offset-1">
                        <p>
                            <h5 class="headline ml-4 mb-3">Thank You</h5>
                        </p>
                        <p class="mr-2">
                            Your order information is below.  A confirmation email will be sent to <strong>{{ order.email }}</strong>
                        </p>
                    </div> 
                </div>
                <div class="row">
                    <div class="co-12">
                        <p class="text-left ml-3 mb-2">Order Placed on {{order.order_date }} {{ timezone_name }}</p>
                        <p class="mb-0 font-weight-bold ml-3 text-left">Order Number: {{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4">
                        <p class="text-left text-uppercase mb-2"><strong>Order Details</strong></p>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-12 col-md-7">
                        <p class="text-uppercase text-left">Shipping Address</p>
                        <p class="mb-0 text-left">{{ order.ship_full_name }}</p>
                        {% if order.ship_comp_name %}
                            <p class="mb-0 text-left">{{ order.ship_comp_name }}</p>
                        {% endif %}
                        <p class="mb-0 text-left">{{ order.ship_street_address1 }}</p>
                        {% if order.ship_street_address2 %}
                            <p class="mb-0 text-left">{{ order.ship_street_address2 }}</p>
                        {% endif %}
                        <p class="mb-0 text-left">{{ order.ship_city }}, {{ order.ship_state }}  {{ order.ship_zipcode }}</p>
                        <p class="mb-0 text-left">{{ order.ship_phone_number }}</p>
                    </div>
                    <div class="col-12 col-md-5 pb-2">
                        <p class="text-uppercase text-left">Billing Address</p>
                        {% if order.bill_full_name %}
                            <p class="mb-0 text-left">{{ order.bill_full_name }}</p>
                        {% endif %}
                        <p class="mb-0 text-left">{{ order.bill_street_address1 }}</p>
                        {% if order.bill_street_address2 %}
                            <p class="mb-0 text-left">{{ order.bill_street_address2 }}</p>
                        {% endif %}
                        <p class="mb-0 text-left">{{ order.bill_city }}, {{ order.bill_state }}  {{ order.bill_zipcode }}</p>
                        <p class="mb-0 text-left">{{ order.bill_phone_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-4">
                        <p class="text-uppercase text-left"><strong>Payment Information</strong></p>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-12 col-md-7">
                        <p class="text-left mb-0"></p>
                        <p class="text-left mb-0"></p>
                        <p class="text-left mb-0"></p>
                        <p class="text-left mb-0"></p>
                        <p class="text-left mb-0"></p>
                        <p class="text-left mb-0"></p>
                    </div>
                    <div class="col-12 p-4">
                        <div class="row">
                            <div class="col-12 pb-4">
                                <div class="table-responsive table-sm">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="text-left mb-0">Subtotal:
                                                </td>
                                                <td class="text-right">
                                                    $ {{ order.order_total }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-left mb-0">Shipping:
                                                </td>
                                                <td class="text-right">
                                                    $ {{ order.shipping_cost }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-left mb-0">Order Total:
                                                </td>
                                                <td class="text-right">
                                                    $ {{ order.grand_total }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> 
                            </div>
                        </div> 
                    <div class="row">
                        <div class="col-12">
                            <p class="text-uppercase text-left"><strong>Order Summary</strong></p>
                        </div>
                    </div> 
                        {% for item in order.lineitems.all %}
                            <div class="row">
                                <div class="col-12 col-md-9 text-left">
                                    <p class="my-0">{{ item.product.product_family.name }}</p>
                                    <p class="mb-0">SKU: {{ item.product.SKU }}</p>
                                    <p class="my-0">Size: {% if item.product.size %}{{ item.product.size }}{% else %}N/A{% endif %}</p>
                                    <p class="my-0">Pack: {{ item.product.pack }}</p>
                                    <p class="my-0">Quantity: {{ item.quantity }}</p>
                                        <p class="my-0 mb-4">Unit Price:  $ {{ item.product.price }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>   
                    <div class="row">
                        <div class="col-12 col-lg-7 text-right mb-5">
                            {% if from_profile %}
                                <a href="{% url 'profile' %}" class="btn btn-medblue my-2">
                                    <span class="text-uppercase">Return to Profile</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                      
{% endblock%}


