.form-check-input[type="checkbox"]:checked+label:before, label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #8ea6b2;
    border-bottom: 2px solid #8ea6b2;
}

#profile-update-form input::placeholder {
    color: #c3ccd3 !important;
    font-size: .8rem !important;
}

#profile-update-form .form-control {
    color: #47646f;
    font-size: .8rem !important;
}

#id_defaultship_state,
#id_defaultship_state option:not(:first-child) {
    color: #1e383c;
}

#id_default_state option::first-child {
    color: #c3ccd3;
}

.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form input[type="text"] {
    padding-left: .75rem;
    padding-right: .75rem;
}