{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block inner_content %}

<div class="row  mt-5">
    <div class="col-12">
        <h5 class="headline ml-4 mb-3">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h5>
        <p class="text-right mr-2">
            <a href="{% url 'home' %}" class="cart-continues">Home</a>  
        </p>
    </div>
</div>
<div class="row mt-5">
    <div class="col-10 offset-1">
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}
