{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

<div class="row  mt-5">
    <div class="col-12">
        <h5 class="headline ml-4 mb-3">Password Reset</h5>
        <p class="text-right mr-2">
            <a href="{% url 'home' %}" class="cart-continues">Home</a>  
        </p>
    </div>
</div>
    

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us at 
            <a href="mailto:customerservice@janericllc.com?subject=Enquiry from Website">customerservice@janericllc.com</a> 
            if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
