{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}

<div class="row  mt-5">
    <div class="col-12">
        <h5 class="headline ml-4 mb-3">Change Password</h5>
        <p class="text-right mr-2">
            <a href="{% url 'home' %}" class="cart-continues">Home</a>  
        </p>
    </div>
</div>
<div class="row mt-5">
    <div class="col-10 offset-1">
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
</div>
{% endblock %}
