{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block extra_title %}| Set Password {% endblock %}

{% block inner_content %}

<div class="row  mt-5">
    <div class="col-12">
        <h5 class="headline ml-4 mb-3">{% trans "Set Password" %}</h5>
        <p class="text-right mr-2">
            <a href="{% url 'home' %}" class="cart-continues">Home</a>  
        </p>
    </div>
</div>
<div class="row mt-5">
    <div class="col-10 offset-1">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
</div>
{% endblock %}
