{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}

<div class="row  mt-5">
    <div class="col-12">
        <h5 class="headline ml-4 mb-3">{% trans "Verify Your E-mail Address" %}</h5>
        <p class="text-right mr-2">
            <a href="{% url 'home' %}" class="cart-continues">Home</a>  
        </p>
    </div>
</div>
<div class="row  mt-5">
    <div class="col-10 offset-1">
        <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us at 
            <a href="mailto:customerservice@janericllc.com?subject=Enquiry from Website">customerservice@janericllc.com</a> if you do not receive it within a few minutes.{% endblocktrans %}
        </p>
    </div>
</div>

{% endblock %}
