{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Shipping{% endblock %}  

{% block page_header %}
<div class="container header-container">
    <div class="row mt-4 mb-5">
        <div class="col"></div>
    </div>
</div>
{% endblock %} 


{% block content %}
<main>
    <div class="container-fluid" id="cart-container">
        <div class="row">
            <div class="d-none d-lg-block col-lg-4 col-xl-3 pt-5 side-menu-col">
                {% include 'includes/side-menu.html' %}
            </div>
            <div class="col-12 col-lg-8 col-xl-9 text-center mt-4 head-row pt-5 mb-5">
            {% for shipping in shipping_list %}
                <div class="row">
                    <div class="col-12">
                        <strong><h3 class="headline mb-3">{{ shipping.title }}</h3></strong>
                        <p class="text-right mr-2">
                            <a href="{% url 'products' %}" class="cart-continues">Keep Shopping</a>  
                        </p>
                    </div> 
                </div>
                <div class="row pt-4">
                    <div class="col-10 offset-1 text-left">
                        {{ shipping.body | safe }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}