.md-form input[type="text"],
input[type="email"] {
    padding-left: .75rem;
    padding-right: .75rem;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #1e383c;
    border: 1px solid #1e383c;
}

#payment-form input::placeholder {
    color: #c3ccd3;
    font-size: .8rem !important;
}

#id_ship_state,
#id_ship_state option:not(:first-child) {
    color: #1e383c;
}

#id_default_state option::first-child {
    color: #c3ccd3;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8ea6b2;
    z-index: 30000;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.form-check-input[type="checkbox"]:checked+label:before, label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #8ea6b2;
    border-bottom: 2px solid #8ea6b2;
}

.move-left {
    width: auto;
    box-shadow: none;
}

/* ------ Stepper Styling ----- */
.md-form input:not([type]).valid, .md-form input:not([type]):focus.valid, .md-form input[type="text"]:not(.browser-default).valid, .md-form input[type="text"]:not(.browser-default):focus.valid, .md-form input[type="password"]:not(.browser-default).valid, .md-form input[type="password"]:not(.browser-default):focus.valid, .md-form input[type="email"]:not(.browser-default).valid, .md-form input[type="email"]:not(.browser-default):focus.valid, .md-form input[type="url"]:not(.browser-default).valid, .md-form input[type="url"]:not(.browser-default):focus.valid, .md-form input[type="time"]:not(.browser-default).valid, .md-form input[type="time"]:not(.browser-default):focus.valid, .md-form input[type="date"]:not(.browser-default).valid, .md-form input[type="date"]:not(.browser-default):focus.valid, .md-form input[type="datetime"]:not(.browser-default).valid, .md-form input[type="datetime"]:not(.browser-default):focus.valid, .md-form input[type="datetime-local"]:not(.browser-default).valid, .md-form input[type="datetime-local"]:not(.browser-default):focus.valid, .md-form input[type="tel"]:not(.browser-default).valid, .md-form input[type="tel"]:not(.browser-default):focus.valid, .md-form input[type="number"]:not(.browser-default).valid, .md-form input[type="number"]:not(.browser-default):focus.valid, .md-form input[type="search"]:not(.browser-default).valid, .md-form input[type="search"]:not(.browser-default):focus.valid, .md-form input[type="phone"]:not(.browser-default).valid, .md-form input[type="phone"]:not(.browser-default):focus.valid, .md-form input[type="search-md"].valid, .md-form input[type="search-md"]:focus.valid, .md-form textarea.md-textarea.valid, .md-form textarea.md-textarea:focus.valid {
    border-bottom: 1px solid rgb(0, 114, 187);
    -webkit-box-shadow: 0 1px 0 0 rgb(0, 114, 187);
    box-shadow: 0 1px 0 0 rgb(0, 114, 187);
}

.md-form input:not([type]).invalid, .md-form input:not([type]):focus.invalid, .md-form input[type="text"]:not(.browser-default).invalid, .md-form input[type="text"]:not(.browser-default):focus.invalid, .md-form input[type="password"]:not(.browser-default).invalid, .md-form input[type="password"]:not(.browser-default):focus.invalid, .md-form input[type="email"]:not(.browser-default).invalid, .md-form input[type="email"]:not(.browser-default):focus.invalid, .md-form input[type="url"]:not(.browser-default).invalid, .md-form input[type="url"]:not(.browser-default):focus.invalid, .md-form input[type="time"]:not(.browser-default).invalid, .md-form input[type="time"]:not(.browser-default):focus.invalid, .md-form input[type="date"]:not(.browser-default).invalid, .md-form input[type="date"]:not(.browser-default):focus.invalid, .md-form input[type="datetime"]:not(.browser-default).invalid, .md-form input[type="datetime"]:not(.browser-default):focus.invalid, .md-form input[type="datetime-local"]:not(.browser-default).invalid, .md-form input[type="datetime-local"]:not(.browser-default):focus.invalid, .md-form input[type="tel"]:not(.browser-default).invalid, .md-form input[type="tel"]:not(.browser-default):focus.invalid, .md-form input[type="number"]:not(.browser-default).invalid, .md-form input[type="number"]:not(.browser-default):focus.invalid, .md-form input[type="search"]:not(.browser-default).invalid, .md-form input[type="search"]:not(.browser-default):focus.invalid, .md-form input[type="phone"]:not(.browser-default).invalid, .md-form input[type="phone"]:not(.browser-default):focus.invalid, .md-form input[type="search-md"].invalid, .md-form input[type="search-md"]:focus.invalid, .md-form textarea.md-textarea.invalid, .md-form textarea.md-textarea:focus.invalid {
    border-bottom: 1px solid #f44336;
    -webkit-box-shadow: 0 1px 0 0 #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}

#id_ship_zipcode-error.invalid,
#id_bill_zipcode-error.invalid {
    display: none !important;
}

ul.stepper .step-title:after,
.checkout-subhead  {
    font-family: var(--ff-barlow);
    letter-spacing: 0.1em;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--clr-palettedkblue);
}

.form-check-input[type="checkbox"]+label, label.btn input[type="checkbox"]+label {
    font-size: 0.8rem;
}

ul.stepper .md-form-label {
    left: 0rem;
}


