{% extends "base.html" %}
{% load static %}

{% block extra_js %}
   <script type="text/javascript" src="{% static 'js/addons-pro/steppers.min.js' %}"></script> 
{% endblock %}



{% block page_header %}
<div class="container header-container">
  <div class="row mt-5 mb-5">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 

{% block content %}
    <div class="container-fluid cover-row">
        <div class="row">
            <div class="d-none d-lg-block col-lg-4 col-xl-3 pt-5 side-menu-col bg-blush">
                {% include 'includes/side-menu.html' %}
            </div>
            <div class="col-12 col-lg-8 col-xl-9 text-center mt-4 head-row pt-5 mb-5">
                <div class="row">
                    <div class="col-12 mb-4">
                        <h5 class="headline mb-3">Product Management</h5>
                        <h7 class="text-muted">Edit a Product Family</h7> 
                    </div> 
                </div>
                <div class="row">
                    <div class="col-10 offset-1 col-md-6 offset-md-3">
                        <form method="POST" action="{% url 'edit_product_family' product_family.id %}" class="form mb-2" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %} 
                                {{ field | as_crispy_field }}
                            {% endfor %}
                            <div class="text-right">
                                <a href="{% url 'product_families' %}">Cancel</a>
                               <button class="btn btn-large bg-ltblue white-text" type="submit">Update Product Family</button>       
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}



