{% extends "base.html" %} {% load static %} {% load humanize %}

{% block extra_title %}| Products{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row mt-4 mb-5">
        <div class="col"></div>
    </div>
</div>
{% endblock %} 

{% block content %}
<main>
    <div id="products-top-section" class="container-fluid">
        <div class="row min-h-100" id="product-top-row">
            <div class="d-none d-lg-block col-lg-4 col-xl-3 side-menu-col pt-5">
                {% include 'includes/side-menu.html' %}
            </div>
            <div class="col-12 col-lg-8 col-xl-9 text-center mt-4 head-row pt-5 mb-5">
                <div class="fixed-action-btn smooth-scroll" style="bottom: 45px; right: 24px;">
                    <a href="#products-top-section" class="btn-floating btn-large btn-mdblue">
                        <i class="fas fa-arrow-up"></i>
                    </a>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <strong><h3 class="headline pb-4">{% if division %}{{ division|upper }}{% elif search_term %}Search Results For: {{ search_term|upper }}{% else %}Products{% endif %}</h3></strong>
                    </div>
                    {% for c in current_categories %}
                    <div class="col-12 d-lg-none">
                        <div class="col-12 pt-2 pb-2">
                            <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                                <span class="p-1 mt-2 badge-span">{{ c.name }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="d-none d-lg-block col-12">
                        <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                            <span class="p-1 mt-2 badge-span">{{ c.name }}</span>
                        </a>
                    </div>
                    {% endfor %}
                    <div class="product-container mt-3 col-10 offset-1">
                        <div class="row">
                            {% for product in products %}
                                <div class="col-12 col-md-6 col-lg-6 col-xl-4">  
                                    <div class="card h-100 pt-3">
                                        {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">   
                                            <img
                                            class="card-img-top img-fluid"
                                            src="{{ MEDIA_URL }}{{ product.image }}"
                                            alt="{{ product.name }}"
                                            />
                                        </a>    
                                        {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img
                                                class="card-img-top"
                                                src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}"
                                            />
                                        </a>
                                        {% endif %}
                                        <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="card-body">
                                                <h6 class="font-weight-bold card-title pb-2">{{ product.product_family.name }}</h6>
                                                {% if product.product_size %}
                                                    <input type="hidden" value="{{ product.product_size }}">
                                                    <p class="mb-0">Size: {{ product.product_size.friendly_name }}</p>
                                                {% endif %}
                                                {% if product.pack %}
                                                <input type="hidden" value="{{ product.pack }}">
                                                <p class="mb-0">Case of {{ product.pack }}</p>
                                                {% endif %}
                                                <input type="hidden" value="{{ product.price }}">
                                                <p  class="mb-0">Price: ${{ product.price|intcomma }}</p>
                                                <input type="hidden" id="product-id" name="product_id" value="{{ product.id }}">
                                                <input type="hidden" id="quantity" name="quantity" value="1">
                                                <input type="hidden" id="products-redirect-url" name="redirect_url" value="{{ request.path }}">
                                            </div>
                                            <div class="card-footer text-center">
                                                <!--<a href="{% url 'product_detail' product.id %}" class="btn btn-md bg-ltblue white-text">View</a>-->
                                                <button type="submit" class="btn btn-md bg-logoblue white-text">Add to Cart</button>
                                            </div>
                                        </form>
                                        {% if request.user.is_superuser %}
                                            <small class="ml-3">
                                                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                <a href="#myModal" class="trigger-btn my-modal" data-toggle="modal" data-id="{{ product.id }}">Deactivate</a>
                                            </small>
                                            {% include 'products/deactivate-confirmation-modal.html' %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% if forloop.counter|divisibleby:1 %}
                                    <div class="col-12 d-md-none mb-5"></div>
                                {% endif %}
                                {% if forloop.counter|divisibleby:2 %}
                                    <div class="col-12 d-none d-md-block d-xl-none mb-5"></div>
                                {% endif %}
                                {% if forloop.counter|divisibleby:3 %}
                                    <div class="col-12 d-none d-xl-block mb-5"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/product_detail_script.html' %}
<!--  Popper for deactivate confirmation modal -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>-->
{% endblock %}